{% extends 'base.html' %}

{% block head %}
<title>Home</title> 
<style>
h1 {text-align: center;}
h3 {text=align: center;}
p {text-align: center;}
div {text-align: center;}

.block {
  display: inline-block;
  width: 175px;
  height: 175px;
  border-radius: 25px;
  background-color: rgb(19, 185, 60);
  margin: 35px
}
.container  {
  text-align: center;
}
</style>
{% endblock %}

{% block body %}
<h1>Munny Money</h1>
<h3>You make the money, we'll handle the rest.</h3>
{% if current_user.is_authenticated %}

<img src="{{url_for('static', filename='munitaly.jpg')}}" align="middle" />
{% endif %}
{% endblock %}