.table {
    border-spacing: 0;
    margin: 1rem;
}

.table__row:nth-child(even) {
    background-color: rgb(101, 189, 248);
}

.table__row:nth-child(odd) {
    background-color: rgb(207, 230, 180);
}

.table__header {
    text-align: left;
    background-color: rgb(15, 250, 93);
}

.table__cell {
    padding: 8px;
}